.carousel-inner h3 {
    font-size: 20px;
    padding: 15px;
}

.carousel-inner p {
    font-size: 16px;
    padding: 10px;
}

@media all and (max-width: 768px) {
    .carousel-caption {
        bottom: 10%;
    }
    .carousel-inner h3 {
        font-size: 18px;
    }
    .carousel-inner p {
        font-size: 14px;
    }
    .money24 {
        margin-top: 40px;
    }
    .money24 p {
        padding-bottom: 15px;
    }
}

@media all and (max-width: 600px) {
    .carousel-inner h3 {
        animation: anim-H3 2s ease-out;
    }
    .carousel-inner p {
        display: none;
    }
    .money24 {
        margin-top: 10px;
    }
    .money24 p {
        padding-bottom: 5px;
    }
    .mobile-center {
        text-align: center;
    }
    body.new .content.index .index-screen .image {
        margin-bottom: 0rem;
    }
    .title-line {
        margin-left: 50px;
        margin-right: 50px;
        padding: 2px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        line-height: 1.3;
    }
}