.carousel-inner h3 {
    font-size: 20px;
    padding: 15px;
}

.carousel-inner p {
    font-size: 16px;
    padding: 10px;
}

@media all and (max-width: 768px) {
    .pipe {
        position: static;
        text-align: center;
    }
    .pipe_p {
        padding-top: 20px;
    }
    .pipe1 {
        padding: 0;
        margin-top: 5px;
        position: static;
        text-align: center;
        margin-left: 40%;
    }
    .step1 {
        margin-bottom: 25px;
        text-align: center;
    }
    .pipe8 {
        padding: 0;
        margin-top: 5px;
        position: static;
        margin-left: 40%;
    }
    .step2 {
        margin-bottom: 25px;
        text-align: center;
    }
    .pipe11 {
        padding: 0;
        margin-top: 5px;
        position: static;
        margin-left: 40%;
    }
    .step3 {
        text-align: center;
    }
    #submitFF {
        width: 100% !important;
    }
    .carousel-caption {
        bottom: 10%;
    }
    .carousel-inner h3 {
        font-size: 18px;
        padding-bottom: 1.5em;
    }
    .carousel-inner p {
        font-size: 14px;
    }
    .money24 {
        margin-top: 40px;
    }
    .money24 p {
        padding-bottom: 0px;
    }
    .p_tags {
        text-align: center;
        padding-left: 0;
    }
}

@media all and (max-width: 600px) {
    #submitFF {
        width: 100%;
    }
    .carousel-inner h3 {
        animation: anim-H3 2s ease-out;
    }
    .carousel-inner p {
        display: none;
    }
    .money24 {
        margin-top: 10px;
        padding-bottom: 1em;
    }
    .money24 p {
        padding-bottom: 0px;
    }
    .mobile-center {
        text-align: center;
    }
    body.new .content.index .index-screen .image {
        margin-bottom: 0rem;
    }
    .title-line {
        margin-left: 50px;
        margin-right: 50px;
        padding: 2px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        line-height: 1.3;
    }
}