/* RESET */

html {
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    color: #666666;
}


/* process */

.process {
    background: url(process.jpg) no-repeat top center;
    background-size: cover;
}

.process .inside {
    height: 100%;
    max-width: 1090px;
}

.inside {
    position: relative;
    margin: 0 auto;
    max-width: 1090px;
    padding: 0 10px 0 10px;
}

.process-content h1 {
    max-width: 820px;
}

.process-line {
    margin-top: 50px;
}

.process-pagination {
    position: relative;
    width: 100%;
    text-align: center;
}

.process-slideCommiter {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    height: 1px;
    background: #e0e0e0;
    vertical-align: middle;
    position: relative;
}

.process-slideCommiter .fill {
    background: #d63c35;
    height: 100%;
    width: 0;
}

.process-slidePointer {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    width: 40px;
    height: 38px;
    border: 1px solid #e0e0e0;
    background: none;
    color: #d63c35;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    border-radius: 150px;
    font-weight: bold;
    vertical-align: middle;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.process-slidePointer-happened,
.process-slidePointer-happened:hover,
.wl6 .process-slidePointer-happened,
.wl6 .process-slidePointer-happened:hover {
    background: #d63c35;
    color: #fff;
    border-color: #d63c35;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.process-sliderBody {
    min-height: 445px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.process-slide {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
    width: 840px;
    display: none;
    margin: 0 auto;
}

.process-slide-active {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

.process-sliderBg {
    background: #fff;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    min-height: 100%;
    position: relative;
    min-height: 445px;
    height: 100%;
    line-height: 445px;
}

.process-number {
    color: #d63c35;
    font-size: 210px;
    font-weight: bold;
    width: 40%;
    text-align: center;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
}

.process-text {
    width: 59%;
    text-align: center;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
    font-size: 30px;
    line-height: 40px;
    font-weight: lighter;
    text-align: left;
}

.process-proc {
    /*
    padding-top: 40px;
    padding-bottom: 40px;*/
    z-index: 6;
    position: relative;
    background: #d63c35;
    overflow: hidden;
}

.process-proc h2 {
    display: block;
    text-align: left;
    max-width: 500px;
    color: #fff;
    padding-left: 90px;
    line-height: 62px;
    font-size: 50px;
    font-weight: bold;
}

.process-line-type2 {
    margin-left: 90px;
}

.process-flag {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 50%;
    margin-right: -411px;
    z-index: 5;
}

.process-begin {
    position: absolute;
    top: 50%;
    height: 1000%;
    right: 50%;
    margin-right: -371px;
    width: 6px;
    background: #fff;
    z-index: 4;
}

.process-intermed {
    background: url(intermed.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 6;
    position: relative;
}

.process-intermed h2 {
    display: block;
    text-align: center;
    color: #fff;
}

.hg8 .process-line-liketech {
    margin-top: 80px;
    margin-bottom: 0;
}

.h78 .process-line-liketech {
    margin-top: 70px;
    margin-bottom: 0;
}

.h775 .process-line-liketech {
    margin-top: 60px;
    margin-bottom: 0;
}

.h67 .process-line-liketech {
    margin-top: 50px;
    margin-bottom: 0;
}

.h665 .process-line-liketech {
    margin-top: 30px;
    margin-bottom: 0;
}

.h56 .process-line-liketech {
    margin-top: 20px;
    margin-bottom: 0;
}

.h555 .process-line-liketech {
    margin-top: 15px;
    margin-bottom: 0;
}

.h45 .process-line-liketech {
    margin-top: 15px;
    margin-bottom: 0;
}

.w68 .process-line-liketech {
    margin-top: 30px;
    margin-bottom: 0;
}

.wl6 .process-line-liketech {
    margin-top: 30px;
    margin-bottom: 0;
    height: 2px;
    width: 120px;
}

.process-cols {
    padding-top: 80px;
    position: relative;
    z-index: 6;
    background: #f3f3f3;
}

.process-col {
    width: 33%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    margin-bottom: 30px;
}

.process-colInner {
    padding: 0 20px;
}

.process-colBg {
    background: #fff;
    padding: 45px 20px 35px 20px;
    text-align: center;
    min-height: 190px;
}

.process-colNumber {
    background: #d63c35;
    border-radius: 100px;
    height: 85px;
    width: 85px;
    line-height: 90px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    margin-bottom: 30px;
}

.process-colText {
    font-size: 15px;
    line-height: 25px;
    font-weight: lighter;
    color: #666;
}

.process-col:hover {
    text-decoration: none;
}

.process-col:hover .process-colBg {
    background: #d63c35;
}

.process-col:hover .process-colNumber {
    background: #fff;
    color: #d63c35;
}

.process-col:hover .process-colText {
    color: #fff;
}

.process-figure {
    position: absolute;
    z-index: 3;
    top: 50%;
    margin-top: -198px;
    left: 50%;
    margin-left: -172px;
}

.process-slogan {
    max-width: 910px;
}

.process-pipes {
    position: relative;
    z-index: 6;
    background: #fff !important;
}

.process-pipesBg {
    background: url(bg2.png) repeat-x center center;
    background-attachment: fixed;
    position: relative;
}

.process-pipe {
    background: url(mask.png) no-repeat top center;
    height: 254px;
    margin: 0 auto;
    position: relative;
}

.process-pipe-last {
    background: url(mask.png) no-repeat top center;
    height: 172px;
    margin: 0 auto;
    position: relative;
}

.process-pipe-inter {
    background: url(mask2.png) repeat-y top center;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.process-pipeTop {
    background: url(mask2.png) repeat-y top center;
    height: 240px;
    position: relative;
}

.process-pipeBottom {
    background: url(mask3.png) repeat-y top center;
    height: 80px;
    position: relative;
}

.w810 .process-pipe,
.w810 .process-pipe-last {
    background: url(mask810.png) no-repeat top center;
}

.w810 .process-pipe-inter,
.w810 .process-pipeTop {
    background: url(mask2810.png) repeat-y top center;
}

.w810 .process-pipeBottom {
    background: url(mask3810.png) repeat-y top center;
}

.pipe {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(icons2.png);
    background-repeat: no-repeat;
}

.pipe1 {
    bottom: 5px;
    left: 50%;
    margin-left: 319px;
    background-position: 0 0;
}

.pipe1.active {
    background-position: -108px 0;
}

.pipe-left {
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -419px;
}

.pipe-right {
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: 318px;
}

.w810 .pipe-left {
    margin-left: -319px;
}

.w810 .pipe-right,
.w810 .pipe1 {
    margin-left: 218px;
}

.w810 .pipe-text-left {
    margin-left: -195px;
}

.w810 .pipe-text-right {
    margin-left: -150px;
}

.process-pipe-last .pipe {
    bottom: 0;
    top: auto;
    margin-top: 0;
    height: 97px;
}

.pipe2 {
    background-position: 0 -101px;
}

.pipe2.active {
    background-position: -108px -101px;
}

.pipe3 {
    background-position: 0 -208px;
}

.pipe3.active {
    background-position: -108px -208px;
}

.pipe4 {
    background-position: 0 -316px;
}

.pipe4.active {
    background-position: -108px -316px;
}

.pipe5 {
    background-position: 0 -425px;
}

.pipe5.active {
    background-position: -108px -425px;
}

.pipe6 {
    background-position: -3px -533px;
}

.pipe6.active {
    background-position: -111px -533px;
}

.pipe7 {
    background-position: -4px -642px;
}

.pipe7.active {
    background-position: -112px -642px;
}

.pipe8 {
    background-position: -5px -750px;
}

.pipe8.active {
    background-position: -113px -750px;
}

.pipe9 {
    background-position: -6px -859px;
}

.pipe9.active {
    background-position: -114px -859px;
}

.pipe10 {
    background-position: -8px -967px;
}

.pipe10.active {
    background-position: -116px -967px;
}

.pipe11 {
    background-position: -10px -1073px;
}

.pipe11.active {
    background-position: -118px -1073px;
}

.pipe12 {
    background-position: -7px -1179px;
}

.pipe12.active {
    background-position: -115px -1179px;
}

.pipe.active {}

.pipe-text {
    max-width: 350px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
}

.pipe-text.one-string {
    margin-top: -10px;
}

.pipe-text-left {
    margin-left: -295px;
}

.pipe-text-right {
    margin-left: -50px;
    text-align: right;
}

.process-pipeTop .pipe-text {
    margin-top: 30px;
}

.process-pipe-last .pipe-text {
    margin-top: 20px;
}


/* process adaptive */

.hg8 .process-slogan {
    padding-top: 290px;
}

.h78 .process-slogan {
    padding-top: 270px;
}

.h775 .process-slogan {
    padding-top: 230px;
}

.h67 .process-slogan {
    padding-top: 200px;
}

.h665 .process-slogan {
    padding-top: 180px;
}

.h56 .process-slogan {
    padding-top: 155px;
}

.h555 .process-slogan {
    padding-top: 140px;
}

.h45 .process-slogan {
    padding-top: 120px;
}

.hg8 .process-figure {
    margin-top: -198px;
}

.h78 .process-figure {
    margin-top: -198px;
}

.h775 .process-figure {
    margin-top: -224px;
}

.h67 .process-figure {
    margin-top: -240px;
}

.h665 .process-figure {
    margin-top: -240px;
}

.h56 .process-figure {
    margin-top: -230px;
    margin-left: -150px;
    width: 300px;
    height: auto;
}

.h555 .process-figure {
    margin-top: -210px;
    margin-left: -125px;
    width: 250px;
    height: auto;
}

.h45 .process-figure {
    margin-top: -200px;
    margin-left: -110px;
    width: 220px;
    height: auto;
}

.wl6 .process-figure {
    width: 140px;
    height: auto;
    margin-top: -70px;
    margin-left: -70px;
}

.wl6 .process-slogan {
    font-size: 20px;
    line-height: 30px;
    padding-top: 170px;
}

.w810 .process-pagination,
.w68 .process-pagination {
    max-width: 420px;
    margin: 0 auto;
}

.w810 .process-slidePointer,
.w68 .process-slidePointer {
    margin-bottom: 20px;
}

.w810 .process-slideCommiter,
.w68 .process-slideCommiter {
    margin-top: -20px;
}

.w810 .process-slideCommiter-5,
.w68 .process-slideCommiter-5 {
    display: none;
}

.w810 .process-slide,
.w68 .process-slide {
    width: 100%;
}

.w810 .process-number,
.w68 .process-number {
    width: 20%;
    padding-left: 0;
    margin-left: 0;
}

.w810 .process-text,
.w68 .process-text {
    width: 55%;
    padding-left: 15%;
}

.w68 .process-number {
    width: 10%;
    padding-left: 0;
    margin-left: 0;
    font-size: 100px;
}

.w68 .process-text {
    width: 60%;
    padding-left: 15%;
    font-size: 22px;
    line-height: 30px;
}

.w68 .process-sliderBg,
.w68 .process-sliderBody {
    min-height: 300px;
    line-height: 300px;
}

.w68 .process-pagination {
    margin-top: 35px;
}

.w810 .process-col,
.w68 .process-col {
    width: 50%;
}

.w68 .process-colInner {
    padding: 0 10px;
}

.w68 .process-flag,
.wl6 .process-flag {
    margin: 0 auto;
    display: block;
    position: relative;
    right: auto;
    top: auto;
    margin-top: 15px;
}

.w68 .process-proc,
.wl6 .process-proc {
    text-align: center;
}

.w68 .process-proc h2,
.wl6 .process-proc h2 {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    padding-left: 0;
    margin: 0 auto;
}

.wl6 .process-proc h2 {
    font-size: 15px;
    line-height: 21px;
}

.wl6 .process-pagination {
    max-width: 280px;
    margin: 0 auto;
    margin-top: 30px;
}

.wl6 .process-slideCommiter-4,
.wl6 .process-slideCommiter-8 {
    display: none;
}

.wl6 .process-slidePointer {
    margin-bottom: 20 !important;
    vertical-align: top;
}

.wl6 .process-slideCommiter {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 30px !important;
    vertical-align: top;
}

.wl6 .process-number {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    font-size: 200px;
    display: block;
}

.wl6 .process-text {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}

.wl6 .process-slide {
    width: 100%;
    padding-bottom: 10px;
}

.wl6 .process-sliderBg,
.wl6 .process-sliderBody {
    min-height: 280px;
    line-height: 280px;
}

.wl6 .process-col {
    width: 100%;
    margin-bottom: 10px;
    min-height: 0;
}

.wl6 .process-colBg {
    min-height: 0;
}

.wl6 .process-colInner {
    padding: 0;
}

.w810 .process-flag,
.w810 .process-begin,
.touch .process-flag,
.touch .process-begin {
    display: none;
}

.w810 .process-proc .process-line,
.touch .process-proc .process-line {
    margin-bottom: 0;
}

.w68 .process-pipesBg,
.wl6 .process-pipesBg,
.touch .process-pipesBg {
    background: none;
    padding-top: 20px;
}

.w68 .process-pipeTop,
.w68 .process-pipe,
.w68 .process-pipe-inter,
.w68 .process-pipe-last,
.wl6 .process-pipeTop,
.wl6 .process-pipe,
.wl6 .process-pipe-inter,
.wl6 .process-pipe-last,
.touch .process-pipeTop,
.touch .process-pipe,
.touch .process-pipe-inter,
.touch .process-pipe-last {
    background: none;
    border-bottom: 1px solid #cccccc;
    padding: 0;
    margin: 0;
    padding: 15px 0;
    height: auto;
}

.w68 .pipe-text,
.w68 .pipe,
.wl6 .pipe-text,
.wl6 .pipe,
.touch .pipe-text,
.touch .pipe {
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    margin: 0;
    padding: 0;
    left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
    text-align: left;
}

.wl6 .process-pipeBottom {
    height: 0;
}

.w68 .pipe-text,
.touch .pipe-text {
    max-width: 430px;
    padding-left: 20px;
}

.wl6 .pipe-text {
    max-width: 280px;
    width: 55%;
    padding-left: 20px;
    font-size: 15px;
    line-height: 21px;
}

.w68 .pipe1,
.wl6 .pipe1,
.touch .pipe1 {
    background-position: -108px 0;
}

.w68 .pipe2,
.wl6 .pipe2,
.touch .pipe2 {
    background-position: -108px -101px;
}

.w68 .pipe3,
.wl6 .pipe3,
.touch .pipe3 {
    background-position: -108px -208px;
}

.w68 .pipe4,
.wl6 .pipe4,
.touch .pipe4 {
    background-position: -108px -316px;
}

.w68 .pipe5,
.wl6 .pipe5,
.touch .pipe5 {
    background-position: -108px -425px;
}

.w68 .pipe6,
.wl6 .pipe6,
.touch .pipe6 {
    background-position: -111px -533px;
}

.w68 .pipe7,
.wl6 .pipe7,
.touch .pipe7 {
    background-position: -112px -642px;
}

.w68 .pipe8,
.wl6 .pipe8,
.touch .pipe8 {
    background-position: -113px -750px;
}

.w68 .pipe9,
.wl6 .pipe9,
.touch .pipe9 {
    background-position: -114px -859px;
}

.w68 .pipe10,
.wl6 .pipe10,
.touch .pipe10 {
    background-position: -116px -967px;
}

.w68 .pipe11,
.wl6 .pipe11,
.touch .pipe11 {
    background-position: -118px -1073px;
}

.w68 .pipe12,
.wl6 .pipe12,
.touch .pipe12 {
    background-position: -115px -1179px;
}

.wl6 .process-cols {
    padding-top: 10px;
}

.wl6 .process-col {
    text-align: left;
}

.wl6 .process-col:hover .process-colBg {
    background: #fff;
}

.wl6 .process-colBg {
    text-align: left;
}

.wl6 .process-colNumber {
    text-align: center;
    width: 65px;
    height: 65px;
    line-height: 68px;
    font-size: 24px;
    margin-right: 15px;
}

.wl6 .process-col:hover .process-colNumber {
    color: #fff;
    background: #ee3054;
}

.wl6 .process-colText {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
    font-size: 15px;
    line-height: 23px;
    max-width: 280px;
    width: 65%;
}

.wl6 .process-col:hover .process-colText {
    color: #666;
}

.w68 .process-limit,
.wl6 .process-limit {
    overflow: hidden;
}

.wl6 .process-showAll {
    background: #ee3054;
    display: block;
    padding: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wl6 .process-cols {
    padding-bottom: 0px;
}

.hg8.w68 .process-slogan {
    padding-top: 230px;
}

.h78.w68 .process-slogan {
    padding-top: 210px;
}

.h775.w68 .process-slogan {
    padding-top: 180px;
}

.h67.w68 .process-slogan {
    padding-top: 150px;
}

.h665.w68 .process-slogan {
    padding-top: 130px;
}

.h56.w68 .process-slogan {
    padding-top: 105px;
}

.h555.w68 .process-slogan {
    padding-top: 90px;
}

.h45.w68 .process-slogan {
    padding-top: 80px;
}